doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Red Bicicletas')
    meta(name='author' content='Manuel Parra')
    title=title
    link(rel='icon' type='image/x-icon' href='/images/favicon.ico')

    // Leafletjs an open-source JavaScript library for mobile-friendly interactive maps 
    link(href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")

    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js' crossorigin='anonymous')
    
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    
    // Core theme CSS (includes Bootstrap)
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    block content
