extends ../layout

block content
  a(href='/bicicletas/create') Nueva Bicicleta

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicación
        th(scope='col')
    tbody 
      each bici in bicis
        tr
          th(scope='row')=bici.code
          td=bici.color
          td=bici.modelo
          td=bici.ubicacion
          td
            a(href='bicicletas/read/' + bici.code) Ver
          td
            a(href='bicicletas/update/' + bici.code) Editar
          td
            form.inline(method='post' action='bicicletas/delete/' + bici.code)
              input(type='hidden' name='code' value=bici.code)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')='Eliminar'
